body {
  margin: 0;
  font-family: "Supercell-Magic", "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #0a0f2c, #3a4fd4);
  color: white;
  text-align: center;
}

#app {
  max-width: 700px;
  margin: auto;
  padding-top: 60px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

h1,
h2 {
  margin-bottom: 20px;
}

#answers button {
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  width: 80%;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

#answers button:hover {
  background: rgba(255, 255, 255, 0.25);
}

#startBtn,
#retryBtn {
  padding: 14px 30px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s;
}

#startBtn:hover,
#retryBtn:hover {
  background: rgba(255, 255, 255, 0.4);
}

#result img {
  width: 240px;
  border-radius: 15px;
  margin-bottom: 20px;
}
