body {
  margin: 0;
  font-family: "Supercell-Magic", "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #0a0f2c, #3a4fd4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  display: none;
  width: 100%;
}

.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-card {
  width: 100%;
  padding: 5px;
}

h1,
h2,
p {
  margin: 0 5px 20px;
  word-wrap: break-word;
  word-break: break-word;
}

#answers button,
#startBtn,
#retryBtn {
  display: block;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  width: 100%;
}

#answers button {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 24px;
  padding: 22px 0;
}

#answers button:hover {
  background: rgba(255, 255, 255, 0.25);
}

#startBtn,
#retryBtn {
  background: rgba(255, 255, 255, 0.25);
  font-size: 26px;
  padding: 26px 0;
}

#startBtn:hover,
#retryBtn:hover {
  background: rgba(255, 255, 255, 0.4);
}

#result img {
  width: 95%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  display: block;
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }

  #app {
    padding: 0;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 10vw;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  p {
    font-size: 8vw;
  }

  #answers button {
    font-size: 9vw;
    padding: 22px 0;
  }

  #startBtn,
  #retryBtn {
    font-size: 10vw;
    padding: 26px 0;
  }

  #result img {
    width: 100%;
    max-width: 100%;
  }
}
